<div>
  This is a simple demo showing how to use different versions of the same library in the same project.
</div>
<div>
  This projects imports three different versions of a library called "base library":
  <ul>
    <li>The oldest version 1.0.0 is part of this Angular project.</li>
    <li>Version 2.0.0 is loaded indirectly by using another library.</li>
    <li>There's also version 3.0.0, loaded by just another library.</li>
  </ul>
  <p>Result of the library calls:</p>
  <dl>
    <dt>Version 1.0</dt><dd>{{version1}}</dd>
    <dt>Version 2.0</dt><dd>{{version2}}</dd>
    <dt>Version 3.0</dt><dd>{{version3}}</dd>
  </dl>
</div>
